.container {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    .projects {
        justify-content: center;
        gap: 10px;
    }
}