@import "../../vars.css";

.container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: black;
  font-family: 'Bitter', serif;
  margin-top: 65px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
  min-width: 100%; /* Ensures the project container doesn't shrink smaller than 100% */
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: 80vh;
  padding: 10px;
  margin-top: 2vh;
}
