@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  padding: 18px 20px;
  width: 250px;
  height: 400px;
  transition: transform 0.3s ease;
  scroll-snap-align: start; /* Ensures smooth snapping behavior */
}

.container:hover {
  transform: scale(1.05);
}

.image {
  margin-bottom: 12px;
  height: 150px;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
}

.title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
  font-family: 'Bitter', serif;
}

.description {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: black;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  justify-content: center;
}

.skill {
  font-size: 17px;
  font-weight: 400;
  color: black;
  border-radius: 100px;
  background: rgb(255, 224, 234);
  padding: 2px 10px;
}