/* Master Styling */
.container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 700;
  color: black;
  font-family: 'Bitter', serif;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media screen and (orientation: landscape) {
  .title {
    font-size: 6.5vh;
  }

  .projects {
    gap: 10vh;
  }
}

@media screen and (orientation: portrait) {
  .projects {
    gap: 5vh;
  }
  
  .title {
    font-size: 9vw;
    margin-bottom: 5vw;
  }
}