/* Master Styling */
.container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.introContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.checkOutContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.title {
  font-weight: 900;
  font-family: 'Bitter', serif;
  color: black;
  margin-bottom: 3%;
}

.description {
  font-family: 'Bitter', serif;
  color: black;
}

.downArrow {
  width: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.heroImg {
  z-index: 1;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.heroImg:hover {
  transform: scale(1.05);
}

@media screen and (orientation: landscape) {
  .container {
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  .content {
    height: 80%;
    justify-content: space-between;
    margin-right: 5vh;
  }

  .introContainer {
    align-items: flex-start;
    margin-top: 20%;
  }

  .checkOutContainer {
    align-items: flex-start;
  }

  .title {
    font-size: 11.3vh;
  }

  .description {
    font-size: 3.6vh;
    line-height: 6.4vh;
  }

  .checkWork {
    font-size: 3vh;
    color: black;
  }

  .heroImg {
    width: 45%;
    margin-top: 3%;
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column-reverse;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-evenly;
  }

  .content {
    margin-right: 0%;
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
  }

  .introContainer {
    text-align: center;
    align-items: center;
    margin-top: 0;
  }

  .checkOutContainer {
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 20%;
  }

  .heroImg {
    margin-top: 10%;
    width: 75%;
  }

  .checkWork {
    font-size: 18px;
    color: black;
    margin-top: 0px;
  }

  .title {
    font-size: 11vw;
  }

  .description {
    font-size: 5.4vw;
    line-height: 6vh;
  }
}
