.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.heroImg {
    width: 45%;
    margin-top: 3%;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.introContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    margin-right: 5%;
}

.title {
    font-size: 72px;
    font-weight: 500;
    color: black;
    margin-bottom: 5%;
}

.description {
  font-size: 20px;
  color: black;
  line-height: 38px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-evenly;
  }

  .content {
    margin-right: 0%;
    height: 50%;
    justify-content: space-evenly;
  }

  .introContainer {
    text-align: center;
    align-items: center;
    margin-top: 0;
  }

  .heroImg {
    margin-top: 10%;
    width: 75%;
  }

  .title {
    font-size: 50px;
  }

  .description {
    font-size: 20px;
  }
}