@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  width: 70%
}

.title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Bitter', serif;
}

.description {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.aboutImage {
  width: 35%;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
