.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    width: 70%
}

.title {
    color: black;
    font-size: 40px;
    font-weight: 500;
}

.description {
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.aboutImage {
    width: 35%;
}

@media screen and (max-width: 830px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .content {
        flex-direction: column;
        width: 100%;
    }

    .aboutImage {
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}