/* Master Styling */
.container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.title {
  color: black;
  font-weight: 700;
  font-family: 'Bitter', serif;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
}


@media screen and (orientation: landscape) {
  .container {
    justify-content: space-between;
  }

  .content {
    flex-direction: column;
    width: 70%;
  }

  .title {
    color: black;
    font-size: 6.5vh;
  }

  .description {
    padding: 3.2vh;
    font-size: 3.2vh;
    line-height: 4.8vh;
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .description {
    padding: 0;
    font-size: 2.7vh;
    line-height: 4.5vh;
  }

  .title {
    font-size: 9vw;
    margin-bottom: 5vw
  }
}
