.container {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
    gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.text h2 {
    font-size: 72px;
    font-weight: 500;
    color: black;
}

.text p {
    font-size: 23px;
    font-weight: 400;
    color: black;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    width: 40px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
        justify-content: space-evenly
    }

    .text {
        align-items: center;
    }

    .links {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: black;
    }
}