.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  z-index: 2;
  background: linear-gradient(to bottom, white, transparent);
}

.title {
  font-weight: 600;
  font-family: 'Bitter', serif;
  text-decoration: none;
  color: black;
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 8.5vh;
  list-style: none;
}

.menuItems a {
  color: black;
  text-decoration: none;
}

@media screen and (orientation: landscape) {
  .navbar {
    top: 0;
    height: 13vh;
    align-items: center;
  }

  .title {
    font-size: 4.9vh;
  }

  .menuItems a {
    font-size: 3.5vh;
  }
}
@media screen and (orientation: portrait) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 90%;
    height: 13vw;
  }

  .title {
    font-size: 8vw;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    width: 8vw;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: white;
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .menuItems a {
    font-size: 6vw;
  }
}
