.container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.introContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 72px;
    font-weight: 500;
    color: black;
    margin-top: 9%;
    margin-bottom: 5%;
    text-align: center;
}

.description {
    font-size: 20px;
    color: black;
    margin-bottom: 5%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.galleryColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.image {
    width: 100%;
    transition: filter 0.3s ease;
}

.image:hover {
    filter: brightness(50%);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.caption img {
    width: 18px;
    /* Icon size */
    height: 22px;
    margin-right: 8px;
    /* Space between the icon and the location text */
}

.imageContainer:hover .caption {
    opacity: 1;
}

@media screen and (max-width: 830px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .title {
        font-size: 50px;
        margin-bottom: 10%;
    }

    .description {
        font-size: 18px;
    }

    .introContainer {
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .gallery {
        flex-direction: column;
    }

    .galleryColumn {
        width: 100%
    }
}