/* Master Styling */
.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.introContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-weight: 900;
  font-family: 'Bitter', serif;
  color: black;
  text-align: center;
}

.description {
  color: black;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'Bitter', serif;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.galleryColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image {
  width: 100%;
  transition: filter 0.3s ease;
}

.image:hover {
  filter: brightness(50%);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.caption img {
  width: 18px;
  height: 22px;
  margin-right: 8px;
}

.image-container:hover .caption {
  opacity: 1;
}

@media screen and (orientation: landscape) {
  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .title {
    font-size: 11.3vh;
    margin-bottom: 7vh;
    margin-top: 9vw;
  }

  .description {
    font-size: 3.2vh;
    line-height: 4.8vh;
  }

  .caption {
    font-size: 3.2vh;
  }
}

@media screen and (orientation: portrait) {
  .title {
    font-size: 11vw;
    margin-top: 10vw;
    margin-bottom: 5vw;
  }

  .description {
    font-size: 5vw;
    line-height: 5vh;
  }

  .introContainer {
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .gallery {
    flex-direction: column;
  }

  .galleryColumn {
    width: 100%
  }

  .caption {
    font-size: 5vw;
  }
}